.about {
    margin: 0px 46px;
    display: flex;
    flex-direction: column;
}

.abt-heading {
    margin-top: 133px;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -3px;
}

.reveal-text {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.reveal-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: revealWord 0.6s ease forwards;
    will-change: transform, opacity;
}

@keyframes revealWord {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.hero-abt {
    margin-top: 132px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.left-abt {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 40px;
}

.hero-abt p {
    font-size: 33px;
    width: 755px;
    font-weight: 400;
    line-height: 1.45;
    text-align: left;
}

.right-abt {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

}

.right-abt img {
    width: 515px;
    max-width: 80%;
    transition: transform 0.1s ease;
    transform: rotate(5deg);
}

.right-abt img:hover {
    transform: rotate(0deg);
}

.right-abt button {
    border-radius: 50px;
    padding: 12px 40px;
    background-color: #212121;
    color: white;
    font-size: 18px;
    cursor: pointer;
    max-width: 252px;
    transition: transform 0.1s ease;
    border: none;
}

.right-abt button:hover {
    transform: rotate(5deg);
    margin-left: 15px;
}


.abt-sec2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 40px;
}

.abt-sec2 img {
    width: 686px;
    align-self: center;
    margin-top: 133px;
    margin-bottom: 200px;
}

.abt-sec2 h1 {
    font-size: 68px;
    font-weight: bold;
    letter-spacing: -3px;
    max-width: 1239px;
}

.abt-sec2 p {
    font-size: 33px;
    font-weight: 400;
    max-width: 990px;
}