.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 150px 50px;

}

.ce {
    margin-left: 10px;
    margin-bottom: 40px;
    font-size: 54px;
    letter-spacing: -2px;
}

/* container padding */
.slider-window {
    padding: 12px;
    /* OUTER spacing */
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 40px;
}

/* two images per frame */
.slide {

    padding: 10px;
    box-sizing: border-box;
}

/* image */
.slide img {
    width: 641px;
    height: 349px;
    display: block;
    border-radius: 16px;
    object-fit: cover;
    vertical-align: middle;

    transform: scale(1.05);
    transition: transform 0.6s ease;
}

.slide:hover img {
    transform: scale(1);
}

/* arrows */
.controls {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 80px;
    margin-top: 20px;
}

.controls img {
    width: 25px;
    cursor: pointer;

}