/* SECTION */
.slider {
    width: 100%;
    margin: 120px 0;
    background: #000;
    color: #fff;
    overflow: hidden;
    align-items: center;
    align-self: center;
    text-align: left;

}

/* TITLE */
.ce {
    font-size: 70px;
    margin-left: 100px;
    font-weight: 600;
    letter-spacing: -1.5px;
    font-weight: bold;


}

/* SLIDER ROW */
.scroll-slider {
    display: flex;
    gap: 48px;
    padding: 10px 0;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: auto;
    touch-action: pan-y;
    will-change: scroll-position;
}

.scroll-slider::-webkit-scrollbar {
    display: none;
}

/* CENTER FOR 1 OR 2 IMAGES */
.scroll-slider.centered {
    justify-content: center;
    overflow-x: hidden;
}

/* CARD (2 PER FRAME) */
.slide {
    flex: 0 0 calc((100vw - 12vw - 48px) / 2);
}

/* IMAGE */
.slide img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 70px;
    box-shadow: 0 12px 35px rgba(160, 160, 160, 0.12);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* HOVER */
.slide img:hover {
    transform: scale(1.04);
    box-shadow: 0 24px 60px rgba(0, 0, 0, 0.4);

}

.scroll-section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
}

.scroll-section.show {
    opacity: 1;
    transform: translateY(0);
}