.gmp {

    background: #ffffff;
    color: black;
    overflow: hidden;


}


.hero-gmp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 181px;
}

.hero-gmp img {
    width: 257px;
}

.hero-gmp h1 {
    font-size: 78px;
    font-family: "Jacquard 24";
    letter-spacing: -4px;
    font-weight: normal;
    margin-top: 20px;
}

.after-hero {

    display: flex;
    margin-top: 221px;
    margin-left: 72px;


}

.gmp-left img {
    width: 574px;
}

.color-right {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 650px;
    margin-top: 73px;



}

.color-p {
    margin-left: 120px;
}

.color-p:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
}

.color-right img {
    width: 166px;
}

.bgy-p {
    justify-content: center;
    display: flex;
}

.bgy-p p {
    font-weight: 100;
    background-color: #FFDE07;
    padding: 12px 30px;
    border-radius: 50px;
    margin-top: 110px;
    text-align: center;
    width: 848px;
    font-size: 24px;


}

.gmp-color {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    text-align: center;
}

.gmp-color img {
    width: 242px;
}

.gmp-color p {
    font-size: 24px;
    font-weight: 500;

}

.brand-direction {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.brand-direction h3 {
    font-size: 24px;
    margin-top: 133px;

}

.brand-direction p {
    margin-top: 58px;
    font-size: 24px;
    width: 933px;
    font-family: "Hina Mincho";
}

.bd-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 133px;
    gap: 49px;
    margin-left: 37px;
    margin-right: 37px;
    width: 100%;
}

.grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.grid h1 {
    font-family: "Hina Mincho";
    font-size: 74px;
    font-weight: 500;
    margin-top: 55px;
}

.grid-img {
    width: 953px;
    margin-top: 30px;
}

.grid p {
    font-size: 24px;
    font-family: "Hina Mincho";
    margin-top: 133px;
    width: 933px;
}

.grid-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
}

.penimg {
    z-index: 2;
    max-width: 508px;
    margin-left: -12px;
}

.white3-img {
    width: 456px;
    margin-top: -60px;
    z-index: 0;
}


.leather-gmp {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 133px;

}

.leather-gmp p {
    font-family: "Hina Mincho";
    font-size: 24px;
    margin-top: 64px;
    width: 933px;
}

.leather-img {
    margin-top: 133px;
    width: 622px;


}

.gmp-gold {
    width: 816px;
    margin-top: 23px;
    z-index: 2;
}

.thankyou-gmp {
    width: 100%;
    background-color: black;
}

.thankyou-gmp img {
    width: 100%;
    z-index: 0;
    height: 1666px;
    margin-top: -380px;
}

.thankyou-gmp h1 {
    font-size: 70px;
    font-family: "Hina Mincho";
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: -200px;
    color: white;
}

.exploring-gmp {
    background-color: black;
    margin-top: -120px;
    margin-bottom: -120px;

}



















@media (max-width: 1024px) {

    /* HERO */
    .hero-gmp {
        padding-top: 140px;
    }

    .hero-gmp img {
        width: 200px;
    }

    .hero-gmp h1 {
        font-size: 58px;
    }

    /* AFTER HERO */
    .after-hero {
        margin-top: 160px;
        margin-left: 40px;
        gap: 40px;
    }

    .gmp-left img {
        width: 420px;
    }

    .color-right {
        width: 420px;
        height: auto;
        margin-top: 40px;
    }

    .color-p {
        margin-left: 60px;
    }

    .color-right img {
        width: 120px;
    }

    /* YELLOW PILL TEXT */
    .bgy-p p {
        width: 85%;
        font-size: 20px;
    }

    /* BRAND DIRECTION */
    .brand-direction p {
        width: 85%;
        font-size: 20px;
    }

    .bd-images img {
        width: 240px;
    }

    /* GRID */
    .grid h1 {
        font-size: 56px;
    }

    .grid-img {
        width: 80%;
    }

    .grid p {
        width: 85%;
        font-size: 20px;
    }

    .penimg {
        max-width: 420px;
    }

    .white3-img {
        width: 360px;
    }

    /* LEATHER */
    .leather-img {
        width: 520px;
    }

    .leather-gmp p {
        width: 85%;
        font-size: 20px;
    }

    .gmp-gold {
        width: 650px;
    }

    /* THANK YOU */
    .thankyou-gmp img {
        height: auto;
        margin-top: -260px;
    }

    .thankyou-gmp h1 {
        font-size: 52px;
    }
}



@media (max-width: 768px) {

    /* HERO */
    .hero-gmp {
        padding-top: 120px;
    }

    .hero-gmp img {
        width: 160px;
    }

    .hero-gmp h1 {
        font-size: 38px;
        letter-spacing: -2px;
        text-align: center;
    }

    /* AFTER HERO STACK */
    .after-hero {
        flex-direction: column;
        margin-top: 120px;
        margin-left: 0;
        align-items: center;
    }

    .gmp-left img {
        width: 100%;
        max-width: 320px;
    }

    .color-right {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    .color-p {
        margin-left: 0;
    }

    .color-right img {
        width: 100px;
    }

    /* YELLOW TEXT */
    .bgy-p p {
        width: 100%;
        margin: 80px 8px 0;
        font-size: 14px;
    }

    /* BRAND DIRECTION */
    .brand-direction h3 {
        margin-top: 90px;
    }

    .brand-direction p {
        width: 100%;
        font-size: 18px;
        padding: 0 20px;
    }

    .bd-images {
        flex-direction: column;
        gap: 30px;
        margin-top: 80px;
    }

    .bd-images img {
        width: 100%;
        max-width: 320px;
    }

    /* GRID */
    .grid h1 {
        font-size: 42px;
    }

    .grid-img {
        width: 100%;
        padding: 0 20px;
    }

    .grid p {
        width: 100%;
        font-size: 18px;
        padding: 0 20px;
    }

    .penimg {
        max-width: 300px;
    }

    .white3-img {
        width: 260px;
        margin-top: -40px;
    }

    /* LEATHER */
    .leather-img {
        width: 100%;
        max-width: 360px;
        margin-top: 90px;
    }

    .leather-gmp p {
        width: 100%;
        font-size: 18px;
        padding: 0 20px;
    }

    .gmp-gold {
        width: 100%;
        max-width: 420px;
    }

    /* THANK YOU */
    .thankyou-gmp img {
        position: relative;
        height: auto;
        margin-top: 40px;
    }

    .thankyou-gmp h1 {
        font-size: 36px;
        position: relative;
        margin-top: -80px;
    }

    .exploring {
        margin-top: -60px;
    }

    .grid {
        padding: 20px;
    }

    .exploring-gmp {
        margin-top: -30px;
        margin-bottom: -60px;

    }
}


@media (max-width: 480px) {
    .grid {
        padding: 20px;
    }

    .hero-gmp h1 {
        font-size: 32px;
    }

    .grid h1 {
        font-size: 34px;
    }

    .thankyou-gmp h1 {
        font-size: 30px;
    }
}