.gmp {
    padding-top: 200px;
    background: #ffffff;
    color: black;
    /*margin-top: -100px;*/

}


.hero-gmp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-gmp img {
    width: 375px;
}

.hero-gmp h1 {
    font-size: 130px;
    font-family: "Jacquard 24";
    letter-spacing: -6%;
    font-weight: normal;
}

.gmp-img-p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gmp-img-p img {
    width: 1124px;
}

.gmp-img-p p {
    font-weight: 300;
    background-color: #FFDE07;
    padding: 10px;
    border-radius: 30px;
    margin: 50px 459px;
    text-align: center;
}

.gmp-color {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    text-align: center;
}

.gmp-color img {
    width: 242px;
}

.gmp-color p {
    font-size: 24px;
    font-weight: 500;

}

.brand-direction {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 110px;
}

.brand-direction h3 {
    font-size: px;
    padding-bottom: 40px;
}

.brand-direction p {
    margin: 0px 299px;
    font-size: 24px;
    font-family: "Hina Mincho";
}

.bd-images {
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    padding-bottom: 40px;
}

.grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 120px;
}

.grid h1 {
    font-family: "Hina Mincho";
    font-size: 74px;
}

.grid-img {
    max-width: 1124px;
    padding-top: 120px;
}

.grid p {
    font-size: 24px;
    font-family: "Hina Mincho";
    margin: 0px 300px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.grid-imgs {
    display: flex;

}

.white3-img {
    width: 456px;
}

.penimg {
    height: 508px;
    padding-top: 10px;
}


.leather-gmp {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    padding: 200px 100px 0px 100px;
}

.leather-gmp p {
    font-family: "Hina Mincho";
    font-size: 24px;
    margin: 0px 200px;
    padding-top: 100px;
}

.leather-img {
    width: 1231px;

}

.gmp-gold {
    width: 816px;
    padding-top: 200px;
    z-index: 2;
}

.thankyou-gmp {
    width: 100%;
    background-color: black;
}

.thankyou-gmp img {
    width: 100%;
    z-index: 0;

    margin-top: -150px;
}

.thankyou-gmp h1 {
    font-size: 139px;
    font-family: "Hina Mincho";
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: -500px;
    color: white;


}