.back-button-uiux {
    display: flex;
    padding-top: 60px;
    align-items: center;
    gap: 57px;
    margin-left: 68px;
}

.back-button-uiux img {
    width: 60px;
    vertical-align: middle;
    cursor: pointer;
}

.back-button-uiux h1 {
    font-size: 80px;
}

.uiux {
    text-align: center;
    margin-bottom: 500px;
}

.uiux-img {
    width: 80%;
    margin-top: 12px;
}

.commingsoon {
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    font-family: "Helvetica";
    letter-spacing: -1px;
    margin-top: 40px;

}