.branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}

.back-button-uiux {
    display: flex;
    padding-top: 60px;
    margin-bottom: -20px;
    align-items: center;
    gap: 20px;
    margin-left: 45px;
}

.back-button-uiux img {
    width: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.back-button-uiux h1 {
    font-size: 50px;
}

.brand-link {
    text-decoration: none;
    max-width: 100%;

    margin-left: 130px;
    margin-right: 130px;
}

.brand-data {
    display: flex;
    justify-content: space-between;
    padding: 0px 26px;
    margin-top: -160px;
    align-items: center;



}

.b-right:hover {
    transform: scale(1.1);
}


.p_image {
    margin-top: 70px;
    width: 100%;
    height: 483px;
    border-radius: 25px;
    object-fit: cover;
    transition: transform 0.2s ease;

}

.b-left {
    color: rgb(255, 255, 255);
}

.b-left:hover {
    color: rgb(209, 209, 209);
}

.b-left h1 {
    font-size: 50px;
    letter-spacing: -1px;
}

.b-left p {
    margin-top: -35px;
    font-size: 18px;
}

.b-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: flex-end;
    padding-bottom: 15px;

}

.b-right img {
    width: 30px;
    transition: transform 0.2s ease;
    transform: rotate(-90deg);

}


.scroll-section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
}

.scroll-section.show {
    opacity: 1;
    transform: translateY(0);
}