/* HEADER */
.header-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    position: relative;
    z-index: 10;
    background: transparent;
}

/* LOGO */
.logo-b {
    display: flex;
    align-items: center;
    gap: clamp(12px, 2vw, 30px);
    text-decoration: none;
    color: #fff;
}

.logo-b img {
    width: clamp(60px, 6vw, 70px);
    height: auto;
}

.logo-b h3 {
    font-family: "Koulen";
    font-weight: 400;
    font-size: 32px;
    white-space: nowrap;
}

/* NAV */
.nav-menu-b ul {
    display: flex;
    list-style: none;
    gap: clamp(16px, 3vw, 30px);
}

.nav-menu-b ul li a {
    position: relative;
    font-family: "Helvetica";
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 4px 14px;
    transition: transform 0.3s ease;
}

/* underline */
.nav-menu-b ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width 0.35s ease;
}

/* hover */
.nav-menu-b ul li a:hover {
    transform: scale(1.06);
}

.nav-menu-b ul li a:hover::after {
    width: 70%;
}

/* TOGGLE BUTTON */
.menu-toggle-b {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle-b img {
    width: 32px;
    margin-right: 0px;
}

/* MOBILE MENU */
.mobile-menu-b {
    position: fixed;
    top: -100%;
    left: 0;

    width: 100%;
    height: 80px;
    background: #000000;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    transition: top 0.6s ease;
    z-index: 999;
}

.mobile-menu-b.open {
    top: 0;
}

/* CLOSE BUTTON */
.menu-close-b {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-close-b img {
    width: 28px;
}

/* MOBILE MENU LINKS */
.mobile-menu-b ul {
    list-style: none;
    align-self: flex-start;
    gap: 15px;
    margin-left: -15px;
    display: flex;
}

.mobile-menu-b ul li {

    padding: 5px 10px;
    background-color: #161616;
    border: 2px solid rgb(52, 52, 52);
    border-radius: 10px;
}

.mobile-menu-b ul li a {
    font-family: "Helvetica";
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-menu-b.desktop {
        display: none;
    }

    .menu-toggle-b {
        display: block;
    }

    .header-b {
        padding: 0px 10px;

    }

    .logo-b h3 {
        font-size: 30px;
    }

}