.hero {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.hero-head {
    line-height: auto;
    align-items: self-start;
    font-size: 38px;
    margin-top: 65px;
    margin-left: 45px;
    margin-right: 126px;
    font-family: "Helvetica";
}

.reveal-text {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.reveal-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: revealWord 0.6s ease forwards;
    will-change: transform, opacity;
}

@keyframes revealWord {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.second-hero {
    display: flex;
    flex-direction: row;
    gap: 53px;
    max-width: 100%;
    justify-content: center;
    margin-top: -50px;

}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 755px;
    margin-top: 133px;
}

.hero-left img {
    width: 755px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 455px;
    margin-top: 53px;
}

.hero-right span {
    background: #759eae;
}

.hero-right img {
    transition: transform 0.1s ease;
    /* smooth animation */

}

.hero-right img:hover {
    transform: rotate(5deg);

}




.hero-right p {
    font-size: 21px;
    width: 100%;


}













.projectforhome {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 48px;
}

.project-head {
    font-size: 50px;
    text-align: center;
    margin-top: 53px;
}



.project-item {
    display: flex;
    justify-content: space-around;
    width: 1226px;
    align-self: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    gap: 187px;

}

.project-item:hover {
    color: rgb(167, 167, 167);
}

.project-item:hover img {
    transform: scale(1.1);
}

.left-home-project {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.left-home-project h1 {
    font-size: 40px;
    letter-spacing: -1px;
}

.left-home-project p {
    margin-bottom: -10px;
    font-size: 15px;
}

.left-home-project hr {
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 175px;
    margin-left: 0;
    margin-top: -15px;
    margin-right: auto;
}

.right-home-project {
    width: 45;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.right-home-project img {
    width: 624px;
    object-fit: cover;
    transition: transform 0.2s ease;
}


.scroll-section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
}

.scroll-section.show {
    opacity: 1;
    transform: translateY(0);
}