.back-button-cases {
    display: flex;
    padding-top: 60px;
    align-items: center;
    gap: 57px;
    margin-left: 68px;
}

.back-button-cases img {
    width: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.back-button-cases h1 {
    font-size: 50px;
}

.cases {
    text-align: center;
    margin-bottom: 500px;
}

.cases-img {
    width: 80%;
    margin-top: 12px;
}

.commingsoon-cases {
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    font-family: "Helvetica";
    letter-spacing: -1px;
    margin-top: 40px;

}


@media (max-width: 1024px) {

    /* BACK BUTTON */
    .back-button-cases {
        margin-left: 40px;
        gap: 30px;
    }

    .back-button-cases img {
        width: 30px;
    }

    .back-button-cases h1 {
        font-size: 32px;
    }

    /* VIDEO */
    .cases-img {
        width: 90%;
        margin-top: 30px;
    }

    /* TEXT */
    .commingsoon-cases {
        font-size: 42px;
    }

    .cases {
        margin-bottom: 350px;
    }
}


@media (max-width: 768px) {

    /* BACK BUTTON */
    .back-button-cases {
        margin-left: 20px;
        padding-top: 40px;
        gap: 18px;
    }

    .back-button-cases img {
        width: 30px;
    }

    .back-button-cases h1 {
        font-size: 36px;
    }

    /* VIDEO */
    .cases-img {
        width: 90%;
        margin-top: 40px;
    }

    /* COMING SOON */
    .commingsoon-cases {
        font-size: 28px;
        margin-top: 30px;
        padding: 0 20px;
    }

    .cases {
        margin-bottom: 220px;
    }
}



@media (max-width: 480px) {

    .back-button-cases h1 {
        font-size: 30px;
    }

    .commingsoon-cases {
        font-size: 24px;
    }

    .cases {
        margin-bottom: 180px;
    }
}