.back-button-uiux {
    display: flex;
    padding-top: 60px;
    margin-bottom: -20px;
    align-items: center;
    gap: 20px;
    margin-left: 45px;
}

.back-button-uiux img {
    width: 50px;
    vertical-align: middle;
}

.back-button-uiux h1 {
    font-size: 50px;
}

.uiux {
    width: 100%;
    text-align: center;

}

.uiux-img {
    width: 98%;
}

.commingsoon {
    text-align: start;
    font-size: 60px;
    font-weight: bold;
    margin-left: 45px;
    font-family: "Helvetica";
    letter-spacing: -1px;
    margin-top: 10px;
}


.scroll-section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
}

.scroll-section.show {
    opacity: 1;
    transform: translateY(0);
}