.back-button-cases {
    display: flex;
    padding-top: 60px;
    align-items: center;
    gap: 57px;
    margin-left: 68px;
}

.back-button-cases img {
    width: 60px;
    vertical-align: middle;
    cursor: pointer;
}

.back-button-cases h1 {
    font-size: 80px;
}

.cases {
    text-align: center;
    margin-bottom: 500px;
}

.cases-img {
    width: 80%;
    margin-top: 12px;
}

.commingsoon-cases {
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    font-family: "Helvetica";
    letter-spacing: -1px;
    margin-top: 40px;

}