.w-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background: transparent;
    z-index: 2;
    position: relative;



}

.w-header-link {
    text-decoration: none;
    color: rgb(0, 0, 0);


}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;

}

.logo img {
    width: 70px;

}

.logo h3 {
    font-size: 32px;
    font-family: "Koulen";
    font-weight: 400;



}

.nav-menu-red ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu-red ul li a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    padding: 5px 20px;
    font-family: "Helvetica";
    display: inline-block;

    transition: transform 0.3s ease;
}

/* underline */
.nav-menu-red ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.35s ease;
    transform: translateX(-50%);
}

/* hover effects */
.nav-menu-red ul li a:hover {
    transform: scale(1.08);
}

.nav-menu-red ul li a:hover::after {
    width: 70%;
}