.vacationv {
    background-color: white;
    color: black;
    margin-top: -165px;
    width: 100%;
}

.vv-hero {
    padding-top: 410px;
    text-align: center;
}

.vv-hero img {
    width: 575px;
}

.vv-hero p {
    font-size: 20px;
    margin-top: 15px;
}

.vv-sec2 {
    margin-top: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vv2img1 {
    width: 1314px;

}

.vv2p1 {
    width: 1211px;
    text-align: center;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    margin-top: 53px;
    font-weight: 400;
}

.vv2p2 {
    margin-top: 133px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 791px;
    text-align: center;
    background-color: #759eae;
    padding: 0px 5px;
}

.vv2img2 {
    margin-top: 133px;
    width: 100%;
}

.vv2p3 {
    margin-top: 53px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 680px;
    text-align: center;
}

.vd {
    display: flex;
    flex-direction: column;
}

.vd-title {
    font-size: 40px;
    margin-top: 193px;
    margin-left: 63px;
    font-family: "Belleza";
    font-weight: 500;
}

.vd-bgb {
    margin-top: 30px;
    background-color: black;
    color: white;
    background-image: url("../../../assets/vacationv/vdbg.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-position: center 159px;
    height: 100%;
    padding: 73px 267px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.vdimgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}


.vdp1 {
    margin-top: 73px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 721px;
    text-align: center;
}

.vdp2 {
    margin-top: 40px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 721px;
    text-align: center;
}

.vvsec-4 {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 153px;
    align-items: center;
}



.det {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 808px;
}

.det h1 {
    font-family: "Belleza";
    font-weight: 500;
    font-size: 40px;
}

.det p {
    font-family: "Belleza";
    margin-top: -5px;
    font-weight: 500;
    font-size: 24px;
}

.fs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 808px;

}

.fs h1 {
    font-family: "Belleza";
    font-weight: 500;
    font-size: 40px;
}

.fs p {
    font-family: "Belleza";
    margin-top: -5px;
    font-weight: 500;
    font-size: 24px;
}

.l2nd {
    width: 808px;
    font-size: 40px;
    margin-top: 124px;
    text-align: center;
    font-family: "Belleza";
    font-weight: 400;

}

.l1st {
    width: 1044px;
    font-size: 40px;
    margin-top: 242px;
    text-align: center;
    font-family: "Belleza";
    font-weight: 400;
    margin-bottom: 145px;
    padding-bottom: 53px;


    border-bottom: 8px dotted black;



}

.exploring {
    background-color: black;
    margin-top: -120px;
}















@media (max-width: 1024px) {

    .vacationv {
        margin-top: -100px;
    }

    /* HERO */
    .vv-hero {
        padding-top: 300px;
    }

    .vv-hero img {
        width: 420px;
    }

    .vv-hero p {
        font-size: 18px;
    }

    /* SECTION 2 */
    .vv-sec2 {
        margin-top: 200px;
    }

    .vv2img1 {
        width: 100%;
    }

    .vv2p1 {
        width: 85%;
        font-size: 20px;
    }

    .vv2p2 {
        width: 70%;
        font-size: 20px;
        margin-top: 120px;
    }

    .vv2p3 {
        width: 70%;
        font-size: 20px;
    }

    /* VISUAL DIRECTION */
    .vd-title {
        font-size: 34px;
        margin-left: 40px;
    }

    .vd-bgb {
        padding: 60px 100px;
        background-position: center 200px;
    }

    .vdimgs {
        gap: 40px;
    }

    .vdp1,
    .vdp2 {
        width: 85%;
        font-size: 20px;
    }

    /* SECTION 4 */
    .det,
    .fs,
    .l2nd {
        width: 85%;
    }

    .det h1,
    .fs h1,
    .l2nd {
        font-size: 34px;
    }

    .det p,
    .fs p {
        font-size: 20px;
    }

    .l1st {
        width: 90%;
        font-size: 34px;
        margin-top: 180px;
    }
}



@media (max-width: 768px) {

    .vacationv {
        margin-top: -120px;
        width: 100%;
        overflow: hidden;
    }

    /* HERO */
    .vv-hero {
        padding-top: 220px;
    }

    .vv-hero img {
        width: 280px;
    }

    .vv-hero p {
        font-size: 12px;

    }

    /* SECTION 2 */
    .vv-sec2 {
        margin-top: 60px;
    }

    .vv2p1,
    .vv2p2,
    .vv2p3 {
        width: 85%;
        font-size: 15px;
        padding: 0 20px;
    }

    .vv2p2 {
        margin-top: 60px;
    }



    .vv2img2 {
        margin-top: 60px;
    }

    /* VISUAL DIRECTION */
    .vd-title {
        font-size: 28px;
        margin-left: 20px;
        margin-top: 80px;
        margin-bottom: -10px;
    }



    .vd-bgb {
        padding: 50px 20px;
        background-size: cover;
        background-position: center;
    }

    .vdimgs {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .vdp1,
    .vdp2 {
        width: 100%;
        font-size: 18px;
        padding: 0 20px;
    }

    /* SECTION 4 */
    .vvsec-4 {
        padding-top: 100px;
    }

    .det,
    .fs {
        width: 85%;
        ;
    }

    .det h1,
    .fs h1 {
        font-size: 28px;

    }

    .det p,
    .fs p {
        font-size: 18px;
    }

    .l2nd {
        width: 85%;
        font-size: 26px;
        padding: 0 20px;
        margin-top: 80px;
    }

    .l1st {
        width: 65%;
        font-size: 26px;
        margin-top: 140px;
        padding: 0 20px 40px;
    }
}


@media (max-width: 480px) {

    .vv-hero img {
        width: 240px;
    }

    .vd-title {
        font-size: 24px;
    }

    .det h1,
    .fs h1 {
        font-size: 24px;
    }

    .l2nd,
    .l1st {
        font-size: 22px;
    }
}