.vacationv {
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
}

.vv-hero {
    padding-top: 257px;
    text-align: center;
}

.vv-hero img {
    width: 575px;
}

.vv-hero p {
    font-size: 19px;
    margin-top: 15px;
}

.vv-sec2 {
    margin-top: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vv2img1 {
    width: 1314px;

}

.vv2p1 {
    width: 1211px;
    text-align: center;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    margin-top: 53px;
}

.vv2p2 {
    margin-top: 163px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 791px;
    text-align: center;
    background-color: #759eae;
    padding: 0px 5px;
}

.vv2img2 {
    margin-top: 53px;
    width: 100%;
}

.vv2p3 {
    margin-top: 53px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 819px;
    text-align: center;
}

.vd {
    display: flex;
    flex-direction: column;
}

.vd-title {
    font-size: 40px;
    margin-top: 193px;
    margin-left: 63px;
    font-family: "Belleza";
    font-weight: 500;
}

.vd-bgb {
    margin-top: 40px;
    background-color: black;
    color: white;
    background-image: url("../../../assets/vacationv/vdbg.png");
    background-repeat: no-repeat;
    background-size: contain;

    background-position: center 159px;
    height: 100%;
    padding: 73px 267px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.vdimgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}


.vdp1 {
    margin-top: 73px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 721px;
    text-align: center;
}

.vdp2 {
    margin-top: 58px;
    font-size: 24px;
    font-family: "Belleza";
    font-weight: 500;
    width: 721px;
    text-align: center;
}

.vvsec-4 {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 153px;
    align-items: center;
}



.det {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 808px;
}

.det h1 {
    font-family: "Belleza";
    font-weight: 500;
    font-size: 40px;
}

.det p {
    font-family: "Belleza";
    margin-top: -5px;
    font-weight: 500;
    font-size: 24px;
}

.fs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 808px;

}

.fs h1 {
    font-family: "Belleza";
    font-weight: 500;
    font-size: 40px;
}

.fs p {
    font-family: "Belleza";
    margin-top: -5px;
    font-weight: 500;
    font-size: 24px;
}

.l2nd {
    width: 808px;
    font-size: 40px;
    margin-top: 124px;
    text-align: center;
    font-family: "Belleza";
    font-weight: 400;

}

.l1st {
    width: 1044px;
    font-size: 40px;
    margin-top: 242px;
    text-align: center;
    font-family: "Belleza";
    font-weight: 400;
    margin-bottom: 145px;
    padding-bottom: 53px;


    border-bottom: 8px dotted black;



}