@font-face {
    font-family: rosehot;
    src: url('/fonts/Rosehot.ttf');
    font-weight: normal;
}

.header-c {
    background-color: #960e10;
}

.crosia {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
}

.cover {

    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2025px;
    background-color: #960e10;


}

.cover img {
    width: 614px;
    margin-top: 325px;
    max-width: 100%;
    z-index: 0;



}

.brand-text {
    margin-top: -1170px;
    align-self: flex-start;
    margin-left: 63px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}


.white-sec {

    background-color: white;
    color: rgb(0, 0, 0);
    margin-top: -4px;
}

.sec1 {
    padding: 0px 150px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1img1 {
    width: 1094px;


}

.sec1p1 {
    width: 642px;
    margin-top: 125px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.color-group {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    gap: 186px;
    margin-top: 190px;
    margin-left: 316px;
    margin-right: 316px;

}

.color-group img {
    width: 145px;
    height: 145px;
}

.color-group p {
    font-weight: 500;
    font-size: 22px;
}

.sqimg {
    margin-top: 274px;
}

.sqimg img {
    width: 508px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.camping-red {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 192px;
    margin-bottom: 93px;

}

.camping-red h1 {
    font-family: 'rosehot';
    letter-spacing: -0.06em;
    font-weight: 100;

}

.camping-images {
    display: flex;
    justify-content: center;
    gap: 49px;
    margin: 0px 40px;
    z-index: 2;

}

.camping-images img {
    width: 421px;
    height: 527px;
}

.tgbg {
    width: 100%;
    z-index: 0;
    margin-top: -374px;
    margin-bottom: -520px;
}

.typography {
    display: flex;
    flex-direction: column;
    padding-top: 221px;
    z-index: 2;
    align-items: center;
}

.typography h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -2px;

}

.typography h2 {
    font-size: 70px;
    font-family: 'rosehot';
    font-weight: 300;
    padding-top: 10px;
    letter-spacing: -3px;


}

.typography p {
    font-size: 48px;
    margin-top: -39px;
    font-family: 'rosehot';
    width: 1152px;
    letter-spacing: -3px;
}

.logomark {
    display: flex;
    flex-direction: column;
    margin-top: 151px;


}

.logomark h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;

}

.logomark-images {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 93px;
    margin-left: 206px;
    margin-right: 206px;
}

.logomark-images img {
    width: 197px;
}


.hooks {
    display: flex;
    flex-direction: column;
    margin-top: 163px;
    align-items: center;
}

.hooks h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
}

.hookimg {
    width: 600px;
    margin-top: 62px;
    margin-bottom: 66px;
}

.hookimages {
    margin-left: 218px;
    margin-right: 218px;
    max-width: 1040px;

}

.hookposter {
    padding-top: 97px;
}

.sec3 {
    background-color: rgb(245, 234, 220);
    margin-top: -482px;
}

.logo-var {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.logo-var h2 {
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 553px;
    font-weight: bold;
    letter-spacing: -2px;
}

.lv-images {
    display: flex;
    margin-top: 103px;
    flex-direction: column;
    gap: 135px;

}

.lv-images img {
    width: 488px;
    align-self: center;

}

.product-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 145px;
    text-align: center;
}

.product-vision img {

    width: 649px;

}

.product-vision h2 {
    font-size: 49px;
    color: white;
    margin-top: -434px;
    margin-bottom: 440px;
    font-family: 'rosehot';
    text-transform: uppercase;
    font-weight: 100;
}

.product-vision p {
    line-height: 154.7%;
    font-size: 25px;
    width: 984px;
    align-self: center;
    line-height: 154.7%;
    font-family: 'rosehot';
    position: relative;
    font-weight: 300;
    z-index: 2;
    margin-top: 74px;

}

.thankyou-c {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.thankyou-c img {
    width: 100%;
    max-width: 100%;
    position: absolute;
    margin-top: -300px;
    z-index: 0;
    left: 0%;




}

.thankyou-c h1 {
    font-size: 70px;
    color: white;
    margin-top: 980px;
    font-family: 'rosehot';
    font-weight: 300;
    text-transform: uppercase;
    line-height: 154%;
    z-index: 2;
}

.exploring-c {
    margin-top: -120px;
    margin-bottom: -110px;
}












@media (max-width: 1024px) {

    /* COVER */
    .cover {
        height: 1400px;
    }

    .cover img {
        width: 420px;
        margin-top: 260px;
    }

    .brand-text {
        margin-top: -820px;
        margin-left: 40px;
        font-size: 26px;
    }

    /* SECTION 1 */
    .sec1 {
        padding: 0 60px;
    }

    .sec1img1 {
        width: 100%;
    }

    .sec1p1 {
        width: 75%;
        font-size: 20px;
        margin-top: 90px;
    }

    .color-group {
        gap: 90px;
        margin: 140px 0 0;
    }

    .sqimg {
        margin-top: 180px;
    }

    .sqimg img {
        width: 420px;
    }

    /* CAMPING */
    .camping-images img {
        width: 300px;
        height: auto;
    }

    .tgbg {
        margin-top: -260px;
        margin-bottom: -360px;
    }

    /* TYPOGRAPHY */
    .typography h1 {
        font-size: 40px;
    }

    .typography h2 {
        font-size: 56px;
    }

    .typography p {
        font-size: 36px;
        width: 90%;
    }

    /* LOGOMARK */
    .logomark-images {
        gap: 40px;
        margin: 80px 40px 0;
    }

    .logomark-images img {
        width: 150px;
    }

    /* HOOKS */
    .hookimg {
        width: 420px;
    }

    .hookimages {
        margin: 0 40px;
    }

    /* SECTION 3 */
    .logo-var h2 {
        padding-top: 420px;
        font-size: 40px;
    }

    .lv-images img {
        width: 380px;
    }

    .product-vision img {
        width: 520px;
    }

    .product-vision h2 {
        font-size: 38px;
        margin-top: -360px;
        margin-bottom: 360px;
    }

    .product-vision p {
        width: 85%;
        font-size: 22px;
    }

    .thankyou-c h1 {
        font-size: 54px;
        margin-top: 760px;
    }
}


@media (max-width: 768px) {

    /* COVER */
    .cover {
        height: 900px;
    }

    .cover img {
        width: 260px;
        margin-top: 200px;
    }

    .brand-text {
        margin-top: -520px;
        margin-left: 20px;
        font-size: 22px;
    }

    /* SECTION 1 */
    .sec1 {
        padding: 0 20px;
    }

    .sec1p1 {
        width: 100%;
        font-size: 18px;
        margin-top: 60px;
    }

    .color-group {
        flex-direction: column;
        gap: 40px;
        margin: 80px 0 0;
    }

    .color-group img {
        width: 120px;
        height: auto;
    }

    .sqimg {
        margin-top: 100px;
    }

    .sqimg img {
        width: 280px;
    }

    /* CAMPING */
    .camping-red {
        font-size: 30px;
        margin-top: 120px;
        margin-bottom: 60px;
    }

    .camping-images {
        flex-direction: column;
        gap: 30px;
    }

    .camping-images img {
        width: 100%;
        height: auto;
    }

    .tgbg {
        display: none;
    }

    /* TYPOGRAPHY */
    .typography {
        padding-top: 120px;
    }

    .typography h1 {
        font-size: 32px;
    }

    .typography h2 {
        font-size: 42px;
    }

    .typography p {
        font-size: 24px;
        width: 100%;
        margin-top: -20px;
    }

    /* LOGOMARK */
    .logomark h2 {
        font-size: 32px;
    }

    .logomark-images {
        flex-wrap: wrap;
        gap: 30px;
        margin: 60px 20px 0;
    }

    .logomark-images img {
        width: 120px;
    }

    /* HOOKS */
    .hookimg {
        width: 100%;
    }

    .hookposter {
        padding-top: 40px;
    }

    .hookimages {
        margin: 0 20px;
    }

    /* SECTION 3 */
    .sec3 {
        margin-top: -200px;
    }

    .logo-var h2 {
        padding-top: 260px;
        font-size: 32px;
    }

    .lv-images {
        gap: 60px;
    }

    .lv-images img {
        width: 260px;
    }

    .product-vision {
        padding-top: 80px;
    }

    .product-vision img {
        width: 100%;
    }

    .product-vision h2 {
        font-size: 28px;
        margin-top: -220px;
        margin-bottom: 220px;
    }

    .product-vision p {
        width: 100%;
        font-size: 18px;
        margin-top: 40px;
    }

    /* THANK YOU */
    .thankyou-c img {
        position: relative;
        margin-top: 60px;
    }

    .thankyou-c h1 {
        font-size: 38px;
        margin-top: 80px;
    }

    .exploring-c {
        margin-top: -40px;
        margin-bottom: -60px;
    }
}



@media (max-width: 480px) {

    .brand-text {
        font-size: 20px;
    }

    .typography p {
        font-size: 20px;
    }

    .product-vision h2 {
        font-size: 24px;
    }

    .thankyou-c h1 {
        font-size: 32px;
    }
}