@font-face {
    font-family: rosehot;
    src: url('/fonts/Rosehot.ttf');
    font-weight: normal;
}



.crosia {
    display: flex;
    flex-direction: column;
    width: 100%;

    color: black;




}

.cover {
    width: 100%;
    flex-direction: column;

}

.cover img {
    width: 100%;

    z-index: 0;
    margin-top: -150px;



}




.white-sec {

    background-color: white;
    color: rgb(0, 0, 0);
    margin-top: -4px;
}

.sec1 {
    padding: 120px 150px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1img1 {
    width: 1170px;

    margin-top: -1150px;
}

.sec1p1 {
    width: 52%;
    margin-top: 60px;
    margin-bottom: 120px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.color-group {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    gap: 186px;
    margin: 0px 316px;

}

.color-group img {
    width: 145px;
    height: 145px;
}

.color-group p {
    font-weight: 500;
    font-size: 22px;
}

.sqimg {
    margin-top: 314px;

}

.sec2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.camping-red {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 190px;
    margin-bottom: 133px;

}

.camping-red h1 {
    font-family: 'rosehot';
    letter-spacing: -0.06em;
    font-weight: 100;

}

.camping-images {
    display: flex;
    justify-content: center;
    gap: 49px;
    margin: 0px 40px;
    z-index: 2;

}

.camping-images img {
    width: 421px;
    height: 527px;
}

.tgbg {
    width: 100%;
    z-index: 0;
    margin-top: -374px;
    margin-bottom: -520px;
}

.typography {
    display: flex;
    flex-direction: column;
    padding-top: 221px;
    z-index: 2;
}

.typography h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.typography h2 {
    font-size: 70px;
    font-family: 'rosehot';
    font-weight: 300;
    padding-top: 55px;


}

.typography p {
    font-size: 48px;
    margin-top: -29px;
    padding-bottom: 220px;
    font-family: 'rosehot';
}

.logomark {
    display: flex;
    flex-direction: column;

}

.logomark h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.logomark-images {
    display: flex;
    justify-content: space-between;
    margin-top: 133px;
    gap: 80px;
    margin-left: 206px;
    margin-right: 206px;
}


.hooks {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.hooks h2 {
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 82px;
    padding-top: 193px;
}

.hookimg {
    width: 575px;
    padding-top: 82px;
    padding-bottom: 136px;
}

.hookimages {
    margin: 0px 218px;
    max-width: 1040px;

}

.hookimages img {
    padding-top: 97px;
}

.sec3 {
    background-color: rgb(245, 234, 220);
    margin-top: -482px;
}

.logo-var {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.logo-var h2 {
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 133px;
    padding-top: 583px;
    font-weight: bold;
    letter-spacing: -3px;
}

.lv-images {
    display: flex;
    flex-direction: column;
    gap: 114px;

}

.lv-images img {
    width: 449px;
    align-self: center;

}

.product-vision {
    display: flex;
    flex-direction: column;

    padding-top: 145px;
    text-align: center;
}

.product-vision img {
    margin: 0px 396px;
}

.product-vision h2 {
    font-size: 49px;
    color: white;
    margin-top: -374px;
    margin-bottom: 284px;
    font-family: 'rosehot';
    text-transform: uppercase;
    font-weight: 100;
}

.product-vision p {
    line-height: 154.7%;
    font-size: 25px;
    width: 984px;
    align-self: center;
    line-height: 154.7%;
    font-family: 'rosehot';
    position: relative;
    font-weight: 300;
    z-index: 2;
    margin-top: 146px;

}

.thankyou-c {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.thankyou-c img {
    width: 100%;
    max-width: 100%;
    position: absolute;
    margin-top: -300px;
    z-index: 0;
    left: 0%;




}

.thankyou-c h1 {
    font-size: 70px;
    color: white;
    margin-top: 880px;
    font-family: 'rosehot';
    font-weight: 300;
    text-transform: uppercase;
    line-height: 154%;
    z-index: 2;
}


@media(max-width: 786px) {}