.studio {
    display: flex;
    margin-top: 140px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 70px;
    position: relative;
    z-index: 1;

}

.studio-button:hover {
    background-color: #101010;
}

.studio .arrow img {
    width: 50px;
}

.studio-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 353px;
    cursor: pointer;
    background-color: rgba(65, 64, 64, 0.293);
    border-radius: 22px 22px 30px 30px;
    border: 2px solid #303030;

}

.studio-button hr {
    width: 100%;
    height: 20px;
    border-radius: 50px 50px 0px 0px;
    background-color: #ffffff;
    border: none;
    margin-top: 0px;
}

.studio a {
    text-decoration: none;
    color: inherit;
}

.studio-button img {
    width: 50px;
    margin-top: -28px;

}

.studio-button h1 {
    font-size: 35px;
    letter-spacing: -0.5px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.footer {
    display: flex;
    flex-direction: column;
    margin: 40px;
    background-color: #131313;
    border-radius: 20px;
    padding: 65px 90px;
    max-width: 100%;
    position: relative;
    z-index: 10;
}

.f-data h1 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.5px;
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 12px;
}

.f-data {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -0.9px;

}

.f-left {
    text-align: left;
    width: 33%;
}

.f-center {
    text-align: center;

    width: 33%;
}

.f-right {
    text-align: right;
    width: 33%;
}

.f-link {
    text-decoration: none;
    color: white;
    pointer-events: auto;
    cursor: pointer;

}

.f-link:hover {
    color: rgb(147, 147, 147);

}

















@media (max-width: 1024px) {

    /* STUDIO SECTION */
    .stfo {
        padding: 0 10px;
    }

    .studio {
        margin-top: 100px;
        gap: 50px;

    }

    .studio-button {
        width: 90%;
    }

    .studio-button img {
        width: 60px;
        margin-top: -30px;
        margin-bottom: -10px;
    }

    .studio-button h1 {
        font-size: 42px;

        letter-spacing: -3px;
    }

    /* FOOTER */
    .footer {
        margin: 30px;
        padding: 50px 50px;
    }

    .f-heading h1 {
        font-size: 22px;
    }

    .f-data {
        font-size: 18px;
    }

    .f-center {
        margin-left: -40px;
    }
}

@media (max-width: 768px) {

    /* STUDIO SECTION */
    .studio {
        margin-top: 80px;
        gap: 40px;
    }

    .studio .arrow img {
        width: 40px;
    }

    .studio-button {
        width: 100%;
        margin: 0 20px;
    }

    .studio-button img {
        width: 45px;
        margin-top: -25px;

    }

    .studio-button h1 {
        font-size: 28px;
        letter-spacing: -0.5px;
        margin-top: 15px;
    }

    /* FOOTER BOX */
    .footer {
        margin: 20px;
        padding: 40px 25px;
    }

    /* HEADINGS STACK */
    .f-heading {
        flex-direction: column;
        gap: 12px;
        text-align: left;
    }

    .f-heading h1 {
        font-size: 20px;
    }

    /* DATA STACK */
    .f-data {
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        font-size: 17px;
    }

    .f-left,
    .f-center,
    .f-right {
        text-align: center;
        margin-left: 0;
        width: 100%;
    }
}


@media (max-width: 480px) {

    .studio-button h1 {
        font-size: 24px;
    }

    .footer {
        padding: 30px 20px;
    }

    .f-data {
        font-size: 16px;
    }
}