@font-face {
  font-family: Helvetica;
  src: url('../public/fonts/helvetica/Helvetica.ttf');
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  font-family: "Helvetica";
}




.scroll-section {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}

.scroll-section.show {
  opacity: 1;
  transform: translateY(0);
}

.page-wrapper {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.page-wrapper.loaded {
  opacity: 1;
}

/* Page load animation */
.page-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-in-out;
}

.page-wrapper.loaded {
  opacity: 1;
  transform: translateY(0);
}