.studio-bg {
    background-image: url("../../assets/studiobg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.studio-page {
    margin-left: 125px;
    margin-right: 125px;
}

.studio-page img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.Still-title {
    margin-top: 140px;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -3px;
    color: #8A8A8A;
    margin-left: 40px;
}

.Still-Photos {
    display: flex;
    gap: 20px;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
}

.column1,
.column2,
.column3,
.column4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Posters-title {
    margin-top: 200px;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -3px;
    color: #8A8A8A;
    margin-left: 40px;
}

.Posters {
    display: flex;
    gap: 20px;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
}

.Sketchbook-title {
    margin-top: 200px;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -3px;
    color: #8A8A8A;
    margin-left: 40px;
}

.sb-top {
    display: flex;
    gap: 20px;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
}

.col1,
.col2,
.col3,
.col4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Sketchbook img {
    width: 100%;
    height: auto;
}

.sb-bottom {
    display: flex;
    margin-top: 20px;
    max-width: 232px;
    margin-right: auto;
    margin-left: auto;

}

.Publication-title {
    margin-top: 200px;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -3px;
    color: #8A8A8A;
    margin-left: 40px;
}

.Publication {
    display: flex;
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
}

.studio-desc {
    width: 1120px;
    margin-top: 190px;
    margin-left: 40px;
    font-size: 40px;
    letter-spacing: -1px;
}

.studio-exists {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 44px;
    font-family: "Hina Mincho";
    font-weight: 400;
    letter-spacing: 2.5px;
}

@media (max-width: 768px) {
    .studio-bg {
        background-image: url("../../assets/studiobg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .studio-page img {
        cursor: zoom-in;
    }

    .studio-page {
        margin-left: 10px;
        margin-right: 10px;

    }

    .Still-title,
    .Posters-title,
    .Sketchbook-title,
    .Publication-title {
        font-size: 40px;
        margin-left: 0;
        margin-top: 100px;
    }

    .Posters {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        row-gap: 0px;
    }


    .Publication {
        flex-direction: column;
        max-width: 100%;
    }

    .Still-Photos,
    .sb-top {
        flex-direction: row;
        max-width: 100%;
        gap: 8px;
    }

    .sb-bottom {
        max-width: 20%;
        height: auto;
        margin-left: 140px;
        margin-top: 0px;

    }

    .column1,
    .column2,
    .column3,
    .column4,
    .col1,
    .col2,
    .col3,
    .col4 {
        gap: 0px;
    }

    .studio-desc {
        width: 100%;
        font-size: 24px;
        margin-left: 0;
        margin-top: 100px;
    }

    .studio-exists {
        font-size: 28px;
        margin-left: 0;
        margin-top: 20px;

    }
}


/* CLOSE BUTTON */
.close-btn {
    position: fixed;
    top: 18px;
    right: 20px;
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
    z-index: 2147483647;
}

.Still-Photos img,
.Posters img,
.Sketchbook img {
    max-width: 100%;
    display: block;
    padding: 5px 0px;
    border-radius: 0px;
    transition: transform 0.5s;
    filter: opacity(0.7);
}

.Still-Photos img:hover,
.Posters img:hover,
.Sketchbook img:hover {
    filter: opacity(1);
    transform: scale(1.07);
}



/* Ensure lightgallery controls are visible on mobile */
@media (max-width: 768px) {


    .lg-backdrop,
    .lg-outer,
    .lg-outer .lg-toolbar,
    .lg-outer .lg-sub-html {
        z-index: 2147483647 !important;
    }

    .lg-outer .lg-toolbar {
        position: fixed !important;
        top: env(safe-area-inset-top, 8px) !important;
        right: env(safe-area-inset-right, 8px) !important;
        padding-right: 8px;
    }

    .lg-outer .lg-toolbar .lg-close {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        color: #fff !important;
        font-size: 28px !important;
    }
}